pkgbase = omywall
	pkgdesc = Ultra-Lightweight Hardware-Accelerated Video, Web 3D & Desktop Wallpaper Engine with NVIDIA/CUDA Acceleration & Hyprlock Screensaver Integration
	pkgver = 0.1.0.r27.g2c5c9c9
	pkgrel = 1
	url = https://github.com/MISTERNEGATIVE21/omywall
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = mpv
	depends = mpvpaper
	depends = ffmpeg
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = gtk-layer-shell
	depends = webkit2gtk
	depends = libnotify
	depends = jq
	depends = hicolor-icon-theme
	optdepends = hyprlock: Wayland screensaver lockscreen support
	optdepends = electron: Fallback web wallpaper engine for desktop web streams
	optdepends = hyprland: Wayland tiling compositor support
	optdepends = sway: Sway/wlroots tiling compositor support
	source = git+https://github.com/MISTERNEGATIVE21/omywall.git
	sha256sums = SKIP

pkgname = omywall
