pkgbase = omywall
	pkgdesc = Ultra-Lightweight Hardware-Accelerated Video, Web 3D & Desktop Wallpaper Engine with NVIDIA/CUDA Acceleration & Hyprlock Screensaver Integration
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/MISTERNEGATIVE21/omywall
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = mpv
	depends = mpvpaper
	depends = ffmpeg
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = gtk-layer-shell
	depends = webkit2gtk
	depends = libnotify
	depends = jq
	depends = hicolor-icon-theme
	optdepends = hyprlock: Wayland screensaver lockscreen support
	optdepends = hyprland: Wayland tiling compositor support
	optdepends = sway: Sway/wlroots tiling compositor support
	source = omywall-4.5.0.tar.gz::https://github.com/MISTERNEGATIVE21/omywall/archive/refs/tags/v4.5.0.tar.gz
	sha256sums = SKIP

pkgname = omywall
